body {
    margin: 0;
    padding: 0
}

table,
td,
th {
    border: 1px;
    border-style: solid;
    border-color: rgb(175, 175, 175);
    color: rgb(78, 78, 78);
    border-collapse: collapse;

}


table {
    /* width: 1800px; */
    text-align: center;
    border-collapse: collapse;
    margin: 0px;
    z-index: 1;
}

thead,
td {
    width: 80px;
    vertical-align: middle;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    white-space: nowrap;
}

thead {
    background-color: rgb(242, 249, 255);
    color: rgb(0, 0, 0);
    overflow: hidden
}

th {
    background-color: rgb(228, 228, 228);
}

.container1 {
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #337ab7;
    border-radius: 5px;
    margin: 0 0 2px 0;
}

.container2 {
    height: 770px;
    overflow: scroll;
    overflow-x: hidden
}

.container3 {
    position: fixed;
    top: 92px;
    width: 100%;
    height: 8px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
}

.condiv {
    width: 100%;
    height: 30px;
    background-color: rgb(0, 124, 207);
}

.title {
    color: white;
    margin: auto;
    line-height: 30px;
    margin-left: 45%
}

#displayTable {
    /* width: 1500px; */
    margin-top: 100px;
    /* position: absolute; */
    height: 750px;

}

#clonethead {
    margin: 0;
    height: 73px;
    /* z-index: 9; */
    position: absolute;
    top: 100px;
    left: 0;
    overflow: hidden;
    box-shadow: 2px -4px 18px 4px grey;

}
#clonecol{
    margin: 0;
    height: 700px;
    width: 395px;
    top: 100px;
    position: fixed;
    z-index: 0;
    left: 0;
    overflow: hidden;
    box-shadow: 2px -4px 18px 4px rgb(187, 187, 187);
    background-color: rgb(255, 255, 255);

}
.input-group {
    float: left;
    width: 16%;
    height: 30px;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 0 0 10px;
    border-radius: 3px;
    position: relative;
    border-collapse: separate;
}

.span-name {
    float: left;
    padding: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.input-item {
    float: left;
    width: 59%;
    height: 28px;
    padding: 6px;
    margin-left: -3px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.item-btn {
    width: 22%;
    color: #fff;
    padding: 6px;
    margin:12px 6px 12px 30px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 1px solid transparent;
    border-radius: 4px
}

.item-btn:hover {
    background-color: rgb(1, 72, 138);
    transition-duration: 0.5s;
}

.btn-download {
    background-color: rgb(2, 148, 124);
    margin-left: 0px;
}

.btn-reset {
    background-color: rgb(214, 164, 0);
    margin-left: 0px
}

.btn-small {
    width: 80px;
}

.item-select {
    width: 66%;
    height: 42px;
    margin-left: -2px;
    /* padding: 6px 12px; */
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn-group{
    float: right;
    margin-right: 10px;
    width: 15%;
}
.item-text {
    width: 145px;
    display: block;
    height: 20px;
    padding: 6px 12px;
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.load-container {
    display: none;
    width: 200px;
    height: 200px;
    float: left;
    position: absolute;
    top: 40%;
    left: 40%;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.load .loader {
    font-size: 60px;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0.8em auto;
    position: relative;
    -webkit-animation: load 1.7s infinite ease;
    animation: load 1.7s infinite ease;
}

@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #0787dd, -0.11em -0.83em 0 -0.42em #0787dd, -0.11em -0.83em 0 -0.44em #0787dd, -0.11em -0.83em 0 -0.46em #0787dd, -0.11em -0.83em 0 -0.477em #0787dd;
    }

    5%,
    95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #0787dd, -0.11em -0.83em 0 -0.42em #0787dd, -0.11em -0.83em 0 -0.44em #0787dd, -0.11em -0.83em 0 -0.46em #0787dd, -0.11em -0.83em 0 -0.477em #0787dd;
    }

    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #0787dd, -0.51em -0.66em 0 -0.42em #0787dd, -0.75em -0.36em 0 -0.44em #0787dd, -0.83em -0.03em 0 -0.46em #0787dd, -0.81em 0.21em 0 -0.477em #0787dd;
    }

    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #0787dd, -0.29em -0.78em 0 -0.42em #0787dd, -0.43em -0.72em 0 -0.44em #0787dd, -0.52em -0.65em 0 -0.46em #0787dd, -0.57em -0.61em 0 -0.477em #0787dd;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #0787dd, -0.11em -0.83em 0 -0.42em #0787dd, -0.11em -0.83em 0 -0.44em #0787dd, -0.11em -0.83em 0 -0.46em #0787dd, -0.11em -0.83em 0 -0.477em #0787dd;
    }
}